## Homework: Wrapping It Up With Pandas

_Authors: Kevin Coyle (L.A.)_

---

Welcome!

#### Pandas: Final Practice Problems

In this homework, you're going to write code for a few problems. 

You'll practice the following programming concepts we've covered in class:
* Basic EDA with Pandas.
* Visualization with Pandas.

#### 1. Import Pandas, `Matplotlib.pyplot`, and NumPy. Don't forget the line that makes `matplotlib` render in a Jupyter Notebook!

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Set the plots to display in the Jupyter Notebook.
%matplotlib inline
from IPython.display import HTML

# Increase the default figure and font sizes for easier viewing.
plt.rcParams['figure.figsize'] = (8, 6)
plt.rcParams['font.size'] = 14

#### 2. Read in the NBA players CSV into a variable called `nba_df`.

This is a data set of NBA players from 2015. The file name is `NBA_players_2015.csv`.

In [3]:
nba_Df = pd.read_csv('NBA_players_2015.csv')

#### 3. Look at the first five rows of the data set.

In [4]:
nba_Df.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Quincy Acy,F,24,NYK,52,21,19.2,2.2,4.6,...,15.1,14.7,0.6,0.5,1.0,0.050,-2.6,-0.7,-3.4,-0.3
1,2015,Jordan Adams,G,20,MEM,18,0,7.3,1.0,2.1,...,15.9,17.7,0.0,0.2,0.2,0.076,-2.3,1.8,-0.5,0.0
2,2015,Steven Adams,C,21,OKC,51,50,24.2,3.0,5.5,...,19.2,14.8,1.0,1.8,2.8,0.109,-2.0,2.0,-0.1,0.6
3,2015,Jeff Adrien,F,28,MIN,17,0,12.6,1.1,2.6,...,12.9,14.1,0.2,0.2,0.4,0.093,-2.6,0.8,-1.8,0.0
4,2015,Arron Afflalo,G,29,TOT,60,54,32.5,5.0,11.8,...,10.9,19.6,1.4,0.7,2.1,0.051,-0.2,-1.4,-1.6,0.2

#### 4. Check for null values. Impute your data set.

In [10]:
nba_Df.isnull().sum()[:5]

season_end      0
player          0
pos             0
age             0
bref_team_id    0
dtype: int64

#### 5. Group this data set by the `position` column.

In [12]:
nba_Df.groupby('pos').sum()

,season_end,age,g,gs,mp,fg,fga,fg_,x3p,x3pa,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
pos,,,,,,,,,,,,,,,,,,,,,
C,159185,2114,3319,1866,1511.0,236.2,467.9,39.153,4.6,14.7,...,1197.6,1402.7,96.2,97.9,194.4,7.694,-191.1,75.1,-116.2,40.6
F,400985,5360,8334,3739,3809.2,566.5,1258.0,87.697,111.1,329.9,...,2472.7,3572.7,202.4,196.5,398.3,17.924,-272.8,-50.0,-322.7,97.1
G,403000,5228,8473,3895,4261.6,640.0,1547.3,78.322,185.7,542.4,...,2746.5,4066.1,206.1,169.9,376.3,9.551,-203.8,-262.1,-465.8,94.6

#### 6. Discuss the difference in these players.

#### 7. Impute all null values with the mean of that data set.

#### 8.

The end!

#### Great job!